RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?shalomsouthflorida\.com
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://www.shalomsouthflorida.com/$1 [L,R=301]
RewriteBase /
RewriteRule ^about/?$ about.php
RewriteRule ^podcasts/?$ podcasts.php