background:    #3d85c6;
background:    linear-gradient(#3d85c6, #073763);
border-radius: 1px;
width:         1000px;
height:        150px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 75px/150px "Caviar", sans-serif;
text-align:    center;